@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Item>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="quadrants">Stephen Covey's Time Management Matrix</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h2>Urgent</h2>
        </div>
        <div class="col-5">
            <h2>Not Urgent</h2>
        </div>
    </div>
    
    <div class="row height">
        <div class="col-2">
            <h2 class="rotatetext">Important</h2>
        </div>
        <div class="col-5">
            <h3>Quadrant I</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th></th>
                    <th></th>
                </tr>
            @foreach (var i in Model)
            {
                if (i.Quadrant == 1)
                {                   
                    <tr>
                        <td>@i.Task</td>
                        <td>@i.DueDate</td>
                        <td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@i.Id">Edit</a></td>
                        <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
                    </tr>
                }
                        
            }
            </table>
        </div>
        
        <div class="col-5">
            <h3>Quadrant II</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var i in Model)
                {
                    if (i.Quadrant == 2)
                    {
                        <tr>
                            <td>@i.Task</td>
                            <td>@i.DueDate</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@i.Id">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <div class="row height">
        <div class="col-2">
            <h2 class="rotatetext">Not Important</h2>
        </div>
        <div class="col-5">
            <h3>Quadrant III</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var i in Model)
                {
                    if (i.Quadrant == 3)
                    {
                        <tr>
                            <td>@i.Task</td>
                            <td>@i.DueDate</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@i.Id">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div class="col">
            <div class="col-5"></div>
            <h3>Quadrant IV</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var i in Model)
                {
                    if (i.Quadrant == 4)
                    {
                        <tr>
                            <td>@i.Task</td>
                            <td>@i.DueDate</td>
                            <td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@i.Id">Edit</a></td>
                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

</div>